<!-- templates/registration/password_reset_done.html -->
{% extends 'pos/base.html' %}
{% load static %}

{% block body_class %}no-nav{% endblock %}


{% block title %}Restablecimiento de contraseña completo{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/forgot.css' %}">
<div class="container">
    <div class="row justify-content-center">
        <div class="form-group">
            <h1>Restablecimiento de contraseña completo</h1>

        </div>
        <div class="form-group">
            <p>Su nueva contraseña ha sido establecida. Puedes iniciar sesión ahora en el <a href=" {% url 'Apps.authentication:login' %}">Login</a>.</p>
        </div>
    </div>
</div>
{% endblock %}